.logo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;
    box-shadow: 5px 5px 50px 1px rgba(0, 0, 0, 0.3);
    user-select: none;
}

.name-div {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.information {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    font-size: x-large;
}

a {
    transition: color 0.3s ease;
    margin: inherit;
}

a:link {
    color: black;
}

a:hover {
    color: crimson;
}

.languages-div {
    display: inline-flex;
    width: 3vw;
    justify-content: space-around;
    margin-top: auto;
    cursor: default;
}

.language {
    cursor: pointer;
}