.logo {
    min-width: 10vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;
    box-shadow: 5px 5px 50px 1px rgba(0, 0, 0, 0.3);
    user-select: none;
    overflow: auto;
}

@media (max-width: 1080px) {
    .logo {
        width: 20vw;
        flex-shrink: 0;
    }
}

.name-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.2s;
}

.show-name-div {
    opacity: 0;
}

@starting-style {
    .show-name-div {
        opacity: 1;
    }
}

.information {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.languages-div {
    display: inline-flex;
    width: 3vw;
    justify-content: space-around;
    margin-top: auto;
    cursor: default;
}