.pdfLayout {
    display: flex;
    height: 100%;
    width: 100%;
}

.pdfTools {
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: space-evenly;
    padding: 1vh;
}

.pdfViewport {
    height: inherit;
    overflow: auto;
    display: flex;
    margin: auto;
    border-radius: 1%;
}