.page {
    margin: 10vh 5vw;
    height: 80vh;
    display: flex;
}

.content {
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: gainsboro;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
    flex-grow: 1;
}
