.right-outline {
    height: inherit;
    border-radius: 10%;
    border-right: 10px solid rgba(128, 128, 128, 0.5);
    animation: pulse 10s infinite;
    display: flex;
}

@keyframes pulse {
    0% {
        border-color: rgb(100, 0, 0);
    }
    80% {
        border-color: rgb(255, 20, 65);
    }
    100% {
        border-color: rgb(100, 0, 0);
    }
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px !important;
    box-shadow: 5px 5px 50px 1px rgba(0, 0, 0, 0.3);
}

.link {
    font-size: x-large;
    transition: color 0.3s ease;
    list-style-type: none;
    cursor: pointer;
    margin: inherit;
}

.link:hover {
    color: crimson;
}

.link:active { /* Must be changed for active tab */
    color: red;
}